USE [master]
GO
/****** Object:  Database [EczaneOtomasyonDB]    Script Date: 27.12.2025 00:38:13 ******/
CREATE DATABASE [EczaneOtomasyonDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EczaneOtomasyonDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EczaneOtomasyonDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EczaneOtomasyonDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EczaneOtomasyonDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EczaneOtomasyonDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EczaneOtomasyonDB]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_GunlukCiro]    Script Date: 27.12.2025 00:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[Fn_GunlukCiro](@Tarih DATETIME)
RETURNS DECIMAL(18,2)
AS
BEGIN
    DECLARE @ToplamCiro DECIMAL(18,2)
    
    SELECT @ToplamCiro = SUM(ToplamTutar) 
    FROM Satislar
    WHERE CAST(Tarih AS DATE) = CAST(@Tarih AS DATE)

    -- Eğer hiç satış yoksa NULL döner
    IF (@ToplamCiro IS NULL)
        SET @ToplamCiro = 0

    RETURN @ToplamCiro
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_KDVHesapla]    Script Date: 27.12.2025 00:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fn_KDVHesapla](@Fiyat decimal(18,2))
returns decimal(18,2)
as
begin
	return @Fiyat * 1.1
end
GO
/****** Object:  UserDefinedFunction [dbo].[fn_PersonelToplamSatis]    Script Date: 27.12.2025 00:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fn_PersonelToplamSatis](@PersonelID int)
returns decimal(18,2)
as
begin
	declare @Toplam decimal(18,2)
	select @Toplam = SUM(ToplamTutar) from Satislar
	where PersonelID = @PersonelID

	return isnull(@Toplam,0)
end
GO
/****** Object:  UserDefinedFunction [dbo].[fn_SKTKontrol]    Script Date: 27.12.2025 00:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fn_SKTKontrol](@SKT DATE)
returns nvarchar(30)
as
begin
	declare @Durum nvarchar(30)

	IF @SKT < GETDATE()
		set @Durum = 'TARİHİ GEÇMİŞ!!'
	ELSE IF DATEDIFF(DAY, GETDATE(),@SKT) <= 30
		set @Durum = 'AZ KALDI (<30 GÜN)'
	ELSE
		set @Durum = 'SÜRESİ VAR'
	
	return @Durum
end
GO
/****** Object:  UserDefinedFunction [dbo].[fn_StokDurum]    Script Date: 27.12.2025 00:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fn_StokDurum](@Adet int)
returns nvarchar(20)
as
begin
	declare @Durum nvarchar(20)
	IF @Adet = 0
		set @Durum = 'STOK YOK!!'
	ELSE IF @Adet < 10
		set @Durum = 'KRİTİK SEVİYE'
	ELSE
		set @Durum = 'YETERLİ SEVİYE'
	return @Durum
end
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TarihDurum]    Script Date: 27.12.2025 00:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fn_TarihDurum](@SKT datetime)
returns nvarchar(20)
as
begin
	declare @Durum nvarchar(20) = 'NORMAL'
	declare @Bugun datetime = GETDATE()

	if @SKT < @Bugun
		set @Durum = 'GECMIS'
	else if DATEDIFF(DAY,@Bugun,@SKT) <= 30
		set @Durum = 'YAKLASMIS'
	return @Durum
end
GO
/****** Object:  Table [dbo].[Musteriler]    Script Date: 27.12.2025 00:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteriler](
	[MusteriID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[TCKimlik] [nvarchar](11) NULL,
	[Telefon] [nvarchar](15) NULL,
	[SosyalGuvence] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MusteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personeller]    Script Date: 27.12.2025 00:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personeller](
	[PersonelID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](50) NOT NULL,
	[Sifre] [nvarchar](50) NOT NULL,
	[AdSoyad] [nvarchar](100) NULL,
	[YoneticiMi] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Satislar]    Script Date: 27.12.2025 00:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Satislar](
	[SatisID] [int] IDENTITY(1,1) NOT NULL,
	[Tarih] [datetime] NULL,
	[ToplamTutar] [decimal](18, 2) NULL,
	[MusteriID] [int] NULL,
	[PersonelID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SatisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_SatisRaporu]    Script Date: 27.12.2025 00:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vw_SatisRaporu]
as
select
	S.SatisID,
	S.Tarih,
	M.Ad + ' ' + M.Soyad as MusteriAdi,
	P.AdSoyad as PersonelAdi,
	S.ToplamTutar
from Satislar S
inner join Musteriler M on S.MusteriID = M.MusteriID
inner join Personeller P on S.PersonelID = P.PersonelID
GO
/****** Object:  Table [dbo].[FiyatDegisimLoglari]    Script Date: 27.12.2025 00:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FiyatDegisimLoglari](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[IlacID] [int] NULL,
	[EskiFiyat] [decimal](18, 2) NULL,
	[YeniFiyat] [decimal](18, 2) NULL,
	[DegisimTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ilaclar]    Script Date: 27.12.2025 00:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ilaclar](
	[IlacID] [int] IDENTITY(1,1) NOT NULL,
	[BarkodNo] [nvarchar](20) NOT NULL,
	[IlacAd] [nvarchar](100) NOT NULL,
	[Fiyat] [decimal](18, 2) NOT NULL,
	[StokAdet] [int] NULL,
	[SKT] [date] NULL,
	[KategoriID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IlacID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategoriler]    Script Date: 27.12.2025 00:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAd] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SatisDetaylari]    Script Date: 27.12.2025 00:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SatisDetaylari](
	[SatisDetayID] [int] IDENTITY(1,1) NOT NULL,
	[SatisID] [int] NULL,
	[IlacID] [int] NULL,
	[Adet] [int] NOT NULL,
	[BirimFiyat] [decimal](18, 2) NULL,
	[ToplamFiyat] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[SatisDetayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SistemLoglari]    Script Date: 27.12.2025 00:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SistemLoglari](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[IslemTipi] [nvarchar](50) NULL,
	[Aciklama] [nvarchar](max) NULL,
	[Tarih] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FiyatDegisimLoglari] ON 

INSERT [dbo].[FiyatDegisimLoglari] ([LogID], [IlacID], [EskiFiyat], [YeniFiyat], [DegisimTarihi]) VALUES (1, 19, CAST(40.00 AS Decimal(18, 2)), CAST(375.00 AS Decimal(18, 2)), CAST(N'2025-12-23T20:39:05.657' AS DateTime))
INSERT [dbo].[FiyatDegisimLoglari] ([LogID], [IlacID], [EskiFiyat], [YeniFiyat], [DegisimTarihi]) VALUES (2, 19, CAST(375.00 AS Decimal(18, 2)), CAST(37.50 AS Decimal(18, 2)), CAST(N'2025-12-23T20:39:36.690' AS DateTime))
INSERT [dbo].[FiyatDegisimLoglari] ([LogID], [IlacID], [EskiFiyat], [YeniFiyat], [DegisimTarihi]) VALUES (3, 20, CAST(37.00 AS Decimal(18, 2)), CAST(41.00 AS Decimal(18, 2)), CAST(N'2025-12-23T20:42:32.370' AS DateTime))
SET IDENTITY_INSERT [dbo].[FiyatDegisimLoglari] OFF
GO
SET IDENTITY_INSERT [dbo].[Ilaclar] ON 

INSERT [dbo].[Ilaclar] ([IlacID], [BarkodNo], [IlacAd], [Fiyat], [StokAdet], [SKT], [KategoriID]) VALUES (1, N'869950001', N'Parol 500mg Tablet', CAST(35.50 AS Decimal(18, 2)), 70, CAST(N'2026-05-20' AS Date), 1)
INSERT [dbo].[Ilaclar] ([IlacID], [BarkodNo], [IlacAd], [Fiyat], [StokAdet], [SKT], [KategoriID]) VALUES (2, N'869950002', N'Majezik 100mg', CAST(65.00 AS Decimal(18, 2)), 50, CAST(N'2025-12-30' AS Date), 1)
INSERT [dbo].[Ilaclar] ([IlacID], [BarkodNo], [IlacAd], [Fiyat], [StokAdet], [SKT], [KategoriID]) VALUES (3, N'869950003', N'Augmentin 1000mg', CAST(120.00 AS Decimal(18, 2)), 18, CAST(N'2026-01-15' AS Date), 2)
SET IDENTITY_INSERT [dbo].[Ilaclar] OFF
GO
SET IDENTITY_INSERT [dbo].[Kategoriler] ON 

INSERT [dbo].[Kategoriler] ([KategoriID], [KategoriAd]) VALUES (1, N'Ağrı Kesiciler')
INSERT [dbo].[Kategoriler] ([KategoriID], [KategoriAd]) VALUES (2, N'Antibiyotikler')
INSERT [dbo].[Kategoriler] ([KategoriID], [KategoriAd]) VALUES (3, N'Vitaminler')
SET IDENTITY_INSERT [dbo].[Kategoriler] OFF
GO
SET IDENTITY_INSERT [dbo].[Musteriler] ON 

INSERT [dbo].[Musteriler] ([MusteriID], [Ad], [Soyad], [TCKimlik], [Telefon], [SosyalGuvence]) VALUES (1, N'Ahmet', N'Yılmaz', N'11111111111', N'05551112233', N'SGK')
INSERT [dbo].[Musteriler] ([MusteriID], [Ad], [Soyad], [TCKimlik], [Telefon], [SosyalGuvence]) VALUES (2, N'Ayşe', N'Demir', N'22222222222', N'05554445566', N'Özel')
INSERT [dbo].[Musteriler] ([MusteriID], [Ad], [Soyad], [TCKimlik], [Telefon], [SosyalGuvence]) VALUES (3, N'Mehmet', N'Öztürk', N'33333333333', N'05321112233', N'Bağkur')
SET IDENTITY_INSERT [dbo].[Musteriler] OFF
GO
SET IDENTITY_INSERT [dbo].[Personeller] ON 

INSERT [dbo].[Personeller] ([PersonelID], [KullaniciAdi], [Sifre], [AdSoyad], [YoneticiMi]) VALUES (1, N'admin', N'1234', N'Sistem Yöneticisi', 1)
INSERT [dbo].[Personeller] ([PersonelID], [KullaniciAdi], [Sifre], [AdSoyad], [YoneticiMi]) VALUES (2, N'ali', N'123', N'Ali Bitum', 0)
INSERT [dbo].[Personeller] ([PersonelID], [KullaniciAdi], [Sifre], [AdSoyad], [YoneticiMi]) VALUES (3, N'ayse', N'12345', N'Ayse Sapan', 0)
SET IDENTITY_INSERT [dbo].[Personeller] OFF
GO
SET IDENTITY_INSERT [dbo].[SatisDetaylari] ON 

INSERT [dbo].[SatisDetaylari] ([SatisDetayID], [SatisID], [IlacID], [Adet], [BirimFiyat], [ToplamFiyat]) VALUES (1, 1, 1, 5, CAST(35.50 AS Decimal(18, 2)), CAST(177.50 AS Decimal(18, 2)))
INSERT [dbo].[SatisDetaylari] ([SatisDetayID], [SatisID], [IlacID], [Adet], [BirimFiyat], [ToplamFiyat]) VALUES (2, 2, 4, 2, CAST(250.00 AS Decimal(18, 2)), CAST(500.00 AS Decimal(18, 2)))
INSERT [dbo].[SatisDetaylari] ([SatisDetayID], [SatisID], [IlacID], [Adet], [BirimFiyat], [ToplamFiyat]) VALUES (3, 3, 1, 15, CAST(35.50 AS Decimal(18, 2)), CAST(532.50 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[SatisDetaylari] OFF
GO
SET IDENTITY_INSERT [dbo].[Satislar] ON 

INSERT [dbo].[Satislar] ([SatisID], [Tarih], [ToplamTutar], [MusteriID], [PersonelID]) VALUES (1, CAST(N'2025-12-12T18:31:50.397' AS DateTime), CAST(355.00 AS Decimal(18, 2)), 1, 1)
INSERT [dbo].[Satislar] ([SatisID], [Tarih], [ToplamTutar], [MusteriID], [PersonelID]) VALUES (2, CAST(N'2025-12-12T19:03:11.840' AS DateTime), CAST(355.00 AS Decimal(18, 2)), 5, 1)
INSERT [dbo].[Satislar] ([SatisID], [Tarih], [ToplamTutar], [MusteriID], [PersonelID]) VALUES (3, CAST(N'2025-12-20T18:39:27.933' AS DateTime), CAST(355.00 AS Decimal(18, 2)), 3, 1)
SET IDENTITY_INSERT [dbo].[Satislar] OFF
GO
SET IDENTITY_INSERT [dbo].[SistemLoglari] ON 

INSERT [dbo].[SistemLoglari] ([LogID], [IslemTipi], [Aciklama], [Tarih]) VALUES (1, N'Sistem Testi', N'Log sistemi kontrol ediliyor...', CAST(N'2025-12-26T23:38:11.960' AS DateTime))
INSERT [dbo].[SistemLoglari] ([LogID], [IslemTipi], [Aciklama], [Tarih]) VALUES (2, N'Fiyat Degisimi', N'TEST ILAC 3 ilacının fiyatı 48.00 TL iken 58.00 TL olarak güncellendi.', CAST(N'2025-12-26T23:38:50.297' AS DateTime))
INSERT [dbo].[SistemLoglari] ([LogID], [IslemTipi], [Aciklama], [Tarih]) VALUES (3, N'Musteri Ekleme', N'Hasan Tokat sisteme yeni müşteri olarak eklendi.', CAST(N'2025-12-26T23:40:11.493' AS DateTime))
SET IDENTITY_INSERT [dbo].[SistemLoglari] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Ilaclar__FA8C06C6588665C7]    Script Date: 27.12.2025 00:38:13 ******/
ALTER TABLE [dbo].[Ilaclar] ADD UNIQUE NONCLUSTERED 
(
	[BarkodNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Musteril__4338AEC7EEC1C9D7]    Script Date: 27.12.2025 00:38:13 ******/
ALTER TABLE [dbo].[Musteriler] ADD UNIQUE NONCLUSTERED 
(
	[TCKimlik] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Personel__5BAE6A759C9FA13D]    Script Date: 27.12.2025 00:38:13 ******/
ALTER TABLE [dbo].[Personeller] ADD UNIQUE NONCLUSTERED 
(
	[KullaniciAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FiyatDegisimLoglari] ADD  DEFAULT (getdate()) FOR [DegisimTarihi]
GO
ALTER TABLE [dbo].[Ilaclar] ADD  DEFAULT ((0)) FOR [StokAdet]
GO
ALTER TABLE [dbo].[Personeller] ADD  DEFAULT ((0)) FOR [YoneticiMi]
GO
ALTER TABLE [dbo].[Satislar] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[SistemLoglari] ADD  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[Ilaclar]  WITH CHECK ADD FOREIGN KEY([KategoriID])
REFERENCES [dbo].[Kategoriler] ([KategoriID])
GO
ALTER TABLE [dbo].[SatisDetaylari]  WITH CHECK ADD FOREIGN KEY([IlacID])
REFERENCES [dbo].[Ilaclar] ([IlacID])
GO
ALTER TABLE [dbo].[SatisDetaylari]  WITH CHECK ADD FOREIGN KEY([SatisID])
REFERENCES [dbo].[Satislar] ([SatisID])
GO
ALTER TABLE [dbo].[Satislar]  WITH CHECK ADD FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteriler] ([MusteriID])
GO
ALTER TABLE [dbo].[Satislar]  WITH CHECK ADD FOREIGN KEY([PersonelID])
REFERENCES [dbo].[Personeller] ([PersonelID])
GO
/****** Object:  StoredProcedure [dbo].[SP_IlacAra]    Script Date: 27.12.2025 00:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_IlacAra]
	@Kelime nvarchar(50)
as
begin
	select * from Ilaclar
	where IlacAd LIKE '%' + @Kelime + '%' OR BarkodNo LIKE '%' + @Kelime + '%'
end
GO
/****** Object:  StoredProcedure [dbo].[SP_IlacEkle]    Script Date: 27.12.2025 00:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_IlacEkle]
	@BarkodNo NVARCHAR(20),
	@IlacAd NVARCHAR(100),
	@Fiyat DECIMAL(18,2),
	@StokAdet INT,
	@SKT DATE,
	@KategoriID INT
as
begin
	insert into Ilaclar(BarkodNo,IlacAd,Fiyat,StokAdet,SKT,KategoriID)
	values(@BarkodNo, @IlacAd,@Fiyat,@StokAdet,@SKT,@KategoriID)
end
GO
/****** Object:  StoredProcedure [dbo].[SP_MusteriGuncelle]    Script Date: 27.12.2025 00:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_MusteriGuncelle]
	@MusteriID int,
	@Telefon nvarchar(15),
	@SosyalGuvence nvarchar(50)
as
begin
UPDATE Musteriler
	SET Telefon = @Telefon, SosyalGuvence = @SosyalGuvence
	where MusteriID = @MusteriID
end
GO
/****** Object:  StoredProcedure [dbo].[SP_PersonelGirisKontrol]    Script Date: 27.12.2025 00:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_PersonelGirisKontrol]
	@KullaniciAdi NVARCHAR(50),
	@Sifre NVARCHAR(50)
AS
Begin
	select * from Personeller
	where KullaniciAdi = @KullaniciAdi and Sifre = @Sifre
end
GO
/****** Object:  StoredProcedure [dbo].[SP_SatisBaslat]    Script Date: 27.12.2025 00:38:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_SatisBaslat]
	@MusteriID int,
	@PersonelID int,
	@ToplamTutar decimal(18,2)
as
begin
	INSERT INTO Satislar (MusteriID,PersonelID,ToplamTutar,Tarih)
	VALUES (@MusteriID,@PersonelID,@ToplamTutar,GETDATE())
	SELECT SCOPE_IDENTITY() --Eklenen satisin ID'sini döndürür !
end
GO
USE [master]
GO
